<h2>SUBIR EL ARCHIVO .TXT</h2>
@model string

    <!--Form:
    Index = Es el metodo al que vamos a llamar
    FileUpload = El controlador donde se encuentra el metodo Index
    FormMethod.Post = Tipo de metodo
    multipart/form-data  = tipo de objeto-->
    @using (Html.BeginForm("GuardarArchivo", "ArbolHuff", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <h2>FILES UPLOADED</h2>

        <table>
            <tr>
                <th>Name</th>
                <th>Actions</th>
                <th></th>
            </tr>
                <tr>
                    <td>@Model.ToString() </td>
                    <td>@Html.ActionLink("Download", "Download", new { TxtName = @Model[i].ToString() }) </td>
                </tr>
            
        </table>
    }
