@model  Dictionary<int, List<int>>

<h2>FOLLOWS</h2>

<head>

    <style>
        table {
            display: table;
            border-collapse: separate;
            border-spacing: 20px;
            border-color: black;
            align-content: center;
            padding: 10px;
        }
    </style>
</head>



<table>
    <tr>
        <th style="text-align:center">  # </th>
        <td> </td>
        <td> </td>
        <th style="text-align:center">Follow         </th>
        <td> </td>
    </tr>
    @foreach (var item in @Model)
    {
        <tr style="text-align:center">
            <td style="text-align:center">@item.Key</td>
            <td> </td>
            @foreach (var fi in item.Value)
            {
                <td style="text-align:center">
                    @fi
                </td>

            }
        </tr>

    }
</table>


<td>@Html.ActionLink("Regresar", "MostrarAsignaciones", "ReadText") </td>
<td>@Html.ActionLink("Verificar AFD", "Transiciones", "ReadText") </td>
